<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<form name="register" method="post" action="/register">
			<input name="regno" type="text" placeholder="regno" required /><br>
			<input name="password" type="password" placeholder="password" required /><br>
			<input name="email" type="email" placeholder="email" required /><br>
			<input name="mobile" type="text" pattern="[0-9]{10}" placeholder="mobile" required /><br>
			<input name="branch" type="text" placeholder="branch" required /><br>
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>