<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>

		<meta name = "viewport" content = "width = device-width, initial-scale = 1">
		<meta name="description" content="IEEE CS details register"> 
		<meta name="author" content="Anant Kakrania">     

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<style>
	body
	{
		overflow-y:auto;
		background-color:#122122;
		background-size:cover;
		background-position: center;
		background-attachment: fixed;
	}
	i{color:white;}
	img
	{
		width:220px;
		padding:20px 0px 5px 0px;
	}
	input
	{
		color:#ccc;
	}
	</style>
	</head>
	<body class="container">
		<div class="row" style="text-align:center;">
		<img  src="/static/images/CS-logo.png"/>
		</div>
		</div>
		<div class = "row">
         <form class = "col s12" name="register">
            <div class = "row col s10 m6 offset-s1 offset-m3">
               <div class = "input-field col s12">
                  <i class = "large material-icons prefix">account_circle</i>
                  <label for = "regno">Username</label>
                  <input id = "regno" name="regno" type = "text" class = "validate" required />
               </div>
               
               <div class = "input-field col s12"> 
               	  <i class="material-icons prefix">lock</i>     
                  <label for = "password">Password</label>
                  <input id = "password" name="password" type = "password"  class = "validate" required />          
               </div>
      
               <div class = "input-field col s12">
               	  <i class="material-icons prefix">email</i>
               	  <label for = "email">Email</label>
                  <input id = "email" name="email" type = "email" class = "validate" required />
               </div>

               <div class = "input-field col s12">
               	  <i class="material-icons prefix">call</i>
               	  <label for = "email">Mobile No</label>
                  <input id = "mobile" name="mobile" type = "text" pattern="[0-9]{10}" class = "validate" required/>
               </div>

               <div class = "input-field col s12">
               	  <i class="material-icons prefix">book</i>
               	  <label for = "branch">Branch</label>
                  <input id = "branch" name="branch" type = "text" class = "validate" required />
               </div>
               <div class="input-field col s12">
	              <button class="btn waves-effect waves-light col offset-s3 offset-m5" type="button" name="action">Submit
					  <i class="material-icons right">send</i>
				  </button>
				</div>
            </div>
        </form>
	</body>
	<script>
	$(document).ready(function()
	{
		$("button").click(function(){
			$.ajax({
				url:"/register",
				data:$('form').serialize(),
				type:"POST",
				success:function(status){
						console.log(msg+"I am in success")
						if(status==1)
							swal("Success","Succesfully Registered","success");
						if(status==2)
							swal("OOOPS","User Exists","error");
						if(status==0)
							swal("OOPS","Incorrect Credentials","error");

				},
				error:function(status){
					console.log("I am in error")
					//if(status==2)
						//swal("OOOPS",msg,"error");
					//if(status==0)
						swal("OOPS","Error","error");
				}
			});
		});
	});
	</script>
</html>